<section id="work">
  <h2>My Work</h2>

  <div class="container work__container">
    <article class="work__project">
      <div class="work__project-image">
        <img src="assets/Images/travelly.png" alt="Travelly" />
      </div>
      <h3>Travelly</h3>
      <p>
        A trip finder application fused together with a social network
        functionality. We have gamified the travel experience. Travel the world
        and earn unique badges. Our smart technology will learn your travel
        goals and display trips that you will love.
      </p>
      <p>
        Technology Used: HTML, CSS , Javascript, NodeJS, Express, AWS S3 Bucket,
        Socket IO, Chakra UI, React, GraphQL, MongoDB Atlas, Mongoose.
      </p>
      <div class="work__project-container">
        <a
          href="https://github.com/GrantRT/travelly"
          class="btn"
          target="_blank"
        >
          Github
        </a>
        <a
          href="https://gentle-lowlands-70428.herokuapp.com/"
          class="btn btn-primary"
          target="_blank"
        >
          Deployed
        </a>
      </div>
    </article>
    <article class="work__project">
      <div class="work__project-image">
        <img src="assets/Images/macro-meals.jfif" alt="Macro Meals" />
      </div>
      <h3>Macro Meals</h3>
      <p>
        An application / website that takes in user values, and generates daily
        calorie requirements based on the users desired health goal. It presents
        the user with recipes that will allow the user to meet their daily
        calorie requirements and then creates a virtual dashboard allowing the
        user to test, randomise and save their recipes.
      </p>
      <p>Technology Used: HTML, CSS, Tailwind, JavaScript, jQuery.</p>
      <div class="work__project-container">
        <a
          href="https://github.com/GrantRT/Macro-Meals"
          class="btn"
          target="_blank"
        >
          Github
        </a>
        <a
          href="https://grantrt.github.io/Macro-Meals/"
          class="btn btn-primary"
          target="_blank"
        >
          Deployed
        </a>
      </div>
    </article>
    <article class="work__project">
      <div class="work__project-image">
        <img src="assets/Images/moodtracker.png" alt="Mood Tracker" />
      </div>
      <h3>Mood Tracker</h3>
      <p>
        A platform to track your own and your friend's mental well being. The
        user can input their daily moods which then render to a graph. They are
        also able to search for their friend's mood graphs via the friend's
        username.
      </p>
      <p>
        Technology Used: 'HTML, CSS, Bulma, JavaScript, Node.js, Express.js,
        Day.js, jQuery, Handlebars, Chart.js, mySQL, Sequelize, Bcrypt.'
      </p>
      <div class="work__project-container">
        <a
          href="https://github.com/GrantRT/Mood-Tracker"
          class="btn"
          target="_blank"
        >
          Github
        </a>
        <a
          href="https://mood-tracker-gkl.herokuapp.com/"
          class="btn btn-primary"
          target="_blank"
        >
          Deployed
        </a>
      </div>
    </article>
    <article class="work__project">
      <div class="work__project-image">
        <img src="assets/Images/techblog.png" alt="Tech Blog" />
      </div>
      <h3>Tech Blog</h3>
      <p>
        A CMS-style blog site, where developers can publish their blog posts and
        comment on other developer's posts as well.
      </p>
      <p>
        Technology Used: Javascript, CSS, Tailwind, Node.js, MySQL, JAWSdb,
        Sequelize, Express, Handlebars.
      </p>
      <div class="work__project-container">
        <a
          href="https://github.com/GrantRT/Tech-Blog"
          class="btn"
          target="_blank"
        >
          Github
        </a>
        <a
          href="https://gt-tech-blog.herokuapp.com/"
          class="btn btn-primary"
          target="_blank"
        >
          Deployed
        </a>
      </div>
    </article>
  </div>
</section>
